@using MVCDemo.Common
@model MVCDemo.Models.Book

@{
    var thumb = "~/Data/Books/No_Image_Available.png";
    var pathNoExt = Server.MapPath(Model.Path) + @"\Cover";
    var extensions = new[] { ".bmp", ".jpg", ".jpeg", ".png", ".gif" };
    var covers = extensions
        .Select(ext => $"{pathNoExt}{ext}")
        .Where(File.Exists)
        .Select(path => new FileInfo(path))
        .OrderByDescending(f => f.LastWriteTime)
        .Select(f => HttpContext.Current.Server.RelativePath(f.FullName, HttpContext.Current.Request))
        .ToList();

    string height;
    if (covers.Count > 0)
    {
        thumb = covers.First();
        var img = System.Drawing.Image.FromFile(Server.MapPath(thumb));
        var multiplier = 1004.0 / img.Width;
        height = (multiplier >= 1 ? img.Height : (int)(img.Height * multiplier)) + "px";
    }
    else
    {
        height = "200px";
    }

    var time = $"dnia {Model.AdditionDate?.ToString("dd-MM-yyyy")} o godzinie {Model.AdditionDate?.ToString("hh:mm")}";
}

<div>
    <h1>Test - Book/Details/@Model.Id</h1>
    <br />

    <div id="divBookDetailsContainer">
        <div class="book_details_editoptions">
            @{ Html.RenderAction("GetBookEditOptions", "Book", new { book = Model }); }
        </div>
        <div class="book_details_title">@Model.Title</div>
        <div class="book_details_author">@Model.Author.UserName</div>
        <div class="book_details_other">Dodano @time w kategorii @Model.Category</div>
        <div class="book_details_placeholder"></div>
        <div class="book_details_description">@Model.Description</div>
        <div class="book_details_placeholder"></div>
        <div class="book_details_placeholder_empty"></div>
        <div class="book_details_cover" style="background-image: Url('@Url.Content(thumb)'); height: @height"></div>
        <div class="book_details_placeholder_empty"></div>
        <div class="book_details_placeholder"></div>
        <div class="book_details_content" id="divBookDetailsContent"></div>
        <div class="book_details_placeholder"></div>
    </div>
</div>


@section Scripts
{
    <script src="~/Scripts/Book/Details.js"></script>
}