@using MVCDemo.Controllers
@model MVCDemo.Models.BookContentPart

@{
    var choiceParentChapter = ViewBag.ChoiceParentChapter;
    var children = Model.Children;
    var parents = Model.Parents;
    var chapter = Model.Chapter;
}

@if (parents == null || parents.Count <= 0 || choiceParentChapter != chapter.Number) 
{
    <div class="book_details_content_chapter">
        Rozdział @Model.Chapter.Number: @Model.Chapter.Title
    </div>
}
<div class="book_details_content_story">
    @{ Html.RenderAction("ParseStoryFromXmlToHtmlPartial", "Book", new { Model.Story }); }
</div>
<div class="book_details_content_choice" choice-parent="@Model.Id">
    <ul>
        @if (children != null)
        {
            foreach (var option in children)
            {
                <li>
                    <span class="book_details_content_choice_option linklike" style="text-decoration: none" choice-num="@option.Id">@option.Choice</span>
                </li>
            }
        }
    </ul>
</div>
