@using MVCDemo.Common
@using MVCDemo.Controllers
@model MVCDemo.Models.Book

@{
    var modelType = Model.GetType();
    var titleDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.Title)));
    var coverDisplayName = "Okładka";
    var categoryDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.Category)));
    var descriptionDisplayName = DisplayNameHelper.GetDisplayName(modelType.GetProperty(nameof(Model.Description)));

    var thumb = "~/Data/Books/No_Image_Available.png";
    var pathNoExt = Server.MapPath(Model.Path) + @"\Cover";
    var extensions = new[] { ".bmp", ".jpg", ".jpeg", ".png", ".gif" };
    var covers = extensions
        .Select(ext => $"{pathNoExt}{ext}")
        .Where(File.Exists)
        .Select(path => new FileInfo(path))
        .OrderByDescending(f => f.LastWriteTime)
        .Select(f => HttpContext.Current.Server.RelativePath(f.FullName, HttpContext.Current.Request))
        .ToList();

    if (covers.Count > 0)
    {
        thumb = covers.First();
    }

    var authUser = ((BookController)ViewContext.Controller).GetAuthenticatedUser();
    var isUserAuthorized = authUser != null && authUser.Id == Model.AuthorId;
}

<div>
    <h1>Test - Book/Edit/@Model.Id</h1>
    <br/>

    @if (isUserAuthorized)
    {
        <div id="divBookEditContainer">
            <div class="book_edit_detailslinks">
                @Html.ActionLink("Zakończ Edycję", "Details", "Book", new {id = Model.Id}, null)
            </div>
            <div class="book_edit_placeholder"></div>
            <div class="book_edit_fields">
                <table class="table_book_edit" id="tableBookEdit">
                    <tr>
                        <td class="book_edit_editor_label">
                            @Html.LabelFor(m => m.Title, $"{titleDisplayName}: ")
                        </td>
                        <td class="book_edit_editor_field" colspan="2">
                            @Html.TextBoxFor(m => m.Title, new {@id = "txtTitle", @placeholder = $"{titleDisplayName}...", @maxlength = "100"})
                        </td>
                    </tr>
                    <tr>
                        <td class="book_edit_editor_label">
                            @Html.LabelFor(m => m.Category, $"{categoryDisplayName}: ")
                        </td>
                        <td class="book_edit_editor_field" colspan="2">
                            @Html.TextBoxFor(m => m.Category, new {@id = "txtCategory", @placeholder = $"{categoryDisplayName}...", @maxlength = "100"})
                        </td>
                    </tr>
                    <tr>
                        <td class="book_edit_editor_field book_edit_textareacontainer" colspan="3">
                            @Html.LabelFor(m => m.Description, $"{descriptionDisplayName}: ", new {@style = "display: block; padding-bottom: 5px"})
                            @Html.TextAreaFor(m => m.Description, new {@id = "taBookDescription", @placeholder = "Opis Książki..."})
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="book_edit_saverequest">
                            <input type="button" id="btnSaveBook" value="Zapisz Zmiany"/>
                        </td>
                    </tr>
                    <tr id="trCoverFields">
                        <td class="book_edit_editor_label">
                            @Html.Label("Cover", $"{coverDisplayName}: ")
                        </td>
                        <td class="book_edit_editor_field">
                            <div id="divCoverDnDHandler">Upuść Plik Tutaj</div>
                        </td>
                        <td class="book_edit_editor_field" id="tdCoverContainer">
                            <div id="divCover" style="background-image: Url('@Url.Content(thumb)')">
                                <div id="divDeleteCover" style="display: @(covers.Count > 0 ? "block" : "none")"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td colspan="2">
                            Status Wysyłania Plików:
                            <div id="divStatusInfo"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="book_edit_placeholder"></div>
            <div class="book_edit_tree" id="divBookEditTreeContent"></div>
            <div class="book_edit_part" id="divBookEditPartContent">
                <fieldset>
                    <legend class="chapter_fullname">Edycja Wybranej Części Książki</legend>

                    @Html.Hidden("Id", null, new {@id = "hdId"})
                    @Html.Hidden("Operation", null, new {@id = "hdOperation"})
                    <table class="table_book_edit_part">
                        <tr>
                            <td class="book_edit_part_editor_label">
                                @Html.Label("ChapterNumber", "Rozdział: ")
                            </td>
                            <td class="book_edit_part_editor_field">
                                @Html.TextBox("ChapterNumber", null, new {@id = "txtChapterNumber", @type = "number", @min = "1", @max = "100", @step = "1", @style = "width: 50px; text-align: right;"})
                                :
                                @Html.TextBox("ChapterTitle", null, new {@id = "txtChapterTitle"})
                            </td>
                        </tr>
                        <tr>
                            <td class="book_edit_part_editor_label">
                                @Html.Label("Choice", "Wybór: ")
                            </td>
                            <td class="book_edit_part_editor_field">
                                @Html.TextBox("Choice", null, new {@id = "txtChoice"})
                            </td>
                        </tr>
                        <tr>
                            <td class="book_edit_part_editor_field book_edit_part_textareacontainer" colspan="2">
                                @Html.Label("Description", "Krótki Opis Opcji Wyboru: ", new {@style = "display: block; padding-bottom: 5px"})
                                @Html.TextArea("Description", "", new {@id = "taDescription", @placeholder = "Opis Przykładowej Historii..."})
                            </td>
                        </tr>
                        <tr>
                            <td class="book_edit_part_editor_label">
                                @Html.Label("ParentIds", "Historie Nadrzędne: ")
                            </td>
                            <td class="book_edit_part_editor_field">
                                <div style="max-height: 27px;">
                                    @Html.DropDownList("ParentIds", new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "(Wybierz Historie Nadrzędne)", Value = "-1"}
                                    }, new {id = "ddlParentIds"})
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="book_edit_part_editor_field">
                                <div id="divParentIdsContainer" class="tags_container"> </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="book_edit_part_editor_label">
                                @Html.Label("ChildrenIds", "Historie Podrzędne: ")
                            </td>
                            <td class="book_edit_part_editor_field">
                                <div style="max-height: 27px;">
                                    @Html.DropDownList("ChildrenIds", new List<SelectListItem>
                                    {
                                        new SelectListItem {Text = "(Wybierz Historie Podrzędne)", Value = "-1"}
                                    }, new {id = "ddlChildrenIds"})
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="book_edit_part_editor_field">
                                <div id="divChildrenIdsContainer" class="tags_container"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="book_edit_part_editor_field book_edit_part_textareacontainer" colspan="2">
                                @Html.Label("Story", "Historia: ", new {@style = "display: block; padding-bottom: 5px"})
                                @Html.TextArea("Story", null, new {@id = "taStory", @placeholder = "Przykładowa Historia..."})
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="book_edit_part_saverequest">
                                <input type="button" id="btnCancel" value="Anuluj" style="margin-right: 5px;"/>
                                <input type="button" id="btnSave" value="Zapisz Zmiany"/>
                            </td>
                        </tr>
                    </table>

                </fieldset>
            </div>
        </div>
    }
</div>

@if (isUserAuthorized)
{
    @section Scripts
    {
        <script src="~/Scripts/Book/Edit.js"></script>
    }
}