@model MVCDemo.Models.Book

@{
    var thumb = Model.Path + "/Cover.jpg";
    if (!File.Exists(Server.MapPath(thumb)))
    {
        thumb = "~/Data/Books/No_Image_Available.png";
    }
}

<li>
    <a>
        <table class="autocomplete_table">
            <tr>
                <td class="autocomplete_item_imagecontainer" style="background-image: Url('@Url.Content(thumb)')" rowspan="3"></td>
                <td class="autocomplete_item_imagerightmargin" rowspan="3"></td>
                <td class="autocomplete_item_title">@Model.Title</td>
                <td class="autocomplete_item_additiondate" rowspan="3">
                    @{
                        if (Model.AdditionDate != null)
                        {
                            @Model.AdditionDate.Value.ToString("dd-MM-yyyy @ hh:mm")
                        }
                        else
                        {
                            @:"n/a"
                        }
                    }
                </td>
            </tr>
            <tr>
                <td class="autocomplete_item_category">@Model.Category</td>
            </tr>
            <tr>
                <td class="autocomplete_item_author">@Model.Author.UserName</td>
            </tr>
        </table>
    </a>
</li>
